@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --transparent-white: hsla(0, 0%, 100%, 0.6);
  --font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  height: 100dvh;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-desaturated-blue);
  height: 55%;
  width: 77%;
  border-radius: 8px;
}

.text,
.image {
  position: relative;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  width: 52%;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64%;
}

.title {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: 36px;
}

.title span {
  color: var(--soft-violet);
}

.detail {
  font-family: 'Inter', sans-serif;
  color: var(--transparent-white);
  font-size: 15px;
  line-height: 28px;
  padding-right: 30px;
  padding-top: 20px;
}

.numbers {
  position: relative;
  width: 100%;
  height: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-right: 65px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 49%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  height: 100%;
}

.item span {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: var(--white);
  letter-spacing: 0px;
  padding-left: 2px;
}

.image {
  position: relative;
  background-image: url(./images/image-header-desktop.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 8px 8px 0px;
  width: 48%;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: hsl(277.5deg 100% 24.8% / 61%);
}

@media (orientation: portrait) and (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
    width: 85%;
    height: 85%;
  }

  .text,
  .image {
    width: 100%;
  }

  .image {
    height: 35%;
    background-image: url('./images/image-header-mobile.jpg');
    border-radius: 8px 8px 0px 0px;
  }

  .text {
    height: 65%;
    padding: 30px;
  }

  .details {
    text-align: center;
    height: 50%;
    justify-content: space-around;
    padding: 0px 10px;
  }

  .title {
    font-size: 24px;
  }

  .detail {
    padding: 0px 5px;
    font-size: 13px;
    line-height: 20px;
  }

  .numbers {
    padding: 0;
    height: 50%;
  }

  .items {
    flex-direction: column;
    height: 100%;
  }

  .item {
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }

  .item span {
    font-size: 20px;
    padding-bottom: 10px;
  }
}